@media (min-width: 992px) {
    .product-form-container {
        width: 75% !important;
    }
}

@media (max-width: 991.98px) {
    .product-form-container {
        width: 100% !important;
    }
}

.image-upload-box {
    min-height: 120px;
    background: #f8f9fa;
    border: 2px dashed #ccc;
    border-radius: 6px;
    transition: border-color 0.2s ease-in-out;
}

.image-upload-box:hover {
    border-color: #6c757d;
}

.upload-icon {
    width: 100px !important;
    height: 100px;
    object-fit: cover;
}

.image-upload-box {
    position: relative;
}

.image-upload-box .btn-close {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.addproduct-btn {
    padding: 6px 6px;
    background-color: #ebebeb;
    border: none;
    color: rgb(87, 87, 171);
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.addproduct-btn:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.product-form-container input::placeholder,
.product-form-container textarea::placeholder {
    color: #6c757d !important;
    opacity: 1;
    font-style: italic;
}

.product-form-container input:focus::placeholder,
.product-form-container textarea:focus::placeholder {
    color: #8495eb !important;
    opacity: 1;
}

.product-size {
    padding: 4px 8px;
    margin: 2px;
    border: 1px solid #007bff !important;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #007bff !important;
    background-color: #f8f9fa !important; 
}
.product-size:hover {
    background-color: #007bff !important;
    color: #fff !important;
}
