/* Fixed sidebar on desktop */
.sidebar {
    width: 220px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-head {
    width: 150px;
    transition: transform 0.s ease;
}

.logo-head:hover {
    transform: scale(1.1);
}

/* Menu Item Styling */
.sidebar-item {
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    color: #333;
}

.offcanvas.offcanvas-start {
    width: 220px !important;
}

.sidebar-item:hover {
    background-color: #d7d7d7;
}
