@media (min-width: 992px) { 
  .categories-form-container {
    width: 75% !important;
  }
}

@media (max-width: 991.98px) { 
  .categories-form-container {
    width: 100% !important;
  }
}

.search-input {
    border: 1px solid #d6d6d6 !important;
}

.search-input::placeholder {
    color: rgb(199, 199, 199) !important;
    opacity: 1 !important;
}

.edit-categories-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-categories-form-container form {
    width: 80%;
    max-width: 820px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
    border:  1px solid rgb(180, 180, 180);
}

.edit-categories-form-container form input {
    border: 1px solid #ccc;
    padding: 10px 10px;
}

.edit-categories-form-container form textarea.edit-category-input {
    border: 1px solid #ccc; 
    border-radius: 8px;         
    padding: 10px;             
    outline: none;              
    transition: border-color 0.3s ease; 
}

.edit-categories-form-container form textarea.edit-category-input:focus {
    border-color: #b7b6ff;
    box-shadow: 0 0 5px rgba(20, 40, 219, 0.1);
}

.edit-categories-form-container form input:focus {
    border-color: #b7b6ff;
    box-shadow: 0 0 5px rgba(20, 40, 219, 0.1);
}

.edit-category-input::placeholder {
    color: rgb(199, 199, 199) !important; 
    opacity: 1; 
}



