/* user wishlist css */
.wishlist{
    margin-bottom: 210px !important;
    margin-top: 120px !important;
}

@media (max-width: 1000px) {
    .wishlist{
        margin-bottom: 60px !important;
        margin-top: 50px !important;
    }
}

