.search-bar {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f8f9fa;
    padding: 0.4rem 1rem;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}


.custom-placeholder::placeholder {
    font-size: 0.9rem;
    color: #6c757d;
}

.search-results{
    width: auto;
    z-index: 1;
}

.search-text{
    text-decoration: none;
    border-bottom: 1px solid #cde6fc;
}

.search-close {
    position: absolute;
    right: 22px;   
    top: 50%;      
    transform: translateY(-50%);
    color: #ff5252;
    cursor: pointer;
}

.search-product-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}