.signUp{
    background-color: #000;
}

.hero-img{
    max-width: 90%;
}

.text-flowwell{
  text-align: left !important;
}

.right-form{
    background-color: #05070f;
}

::placeholder {
  color: #fff !important;
  opacity: 1;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.form-control:focus {
  border-bottom-color: #5f92ff;
  box-shadow: none;
}

.google-text{
  color: #7fa8ff;
}

.google-btn {
  background-color: #ecf2ff;
  width: 100%;
}

.google-btn:hover{
  background-color: #fff !important;
}

@media (min-width: 767px) {
  .google-btn {
    width: 50% !important;
  }
}



.otp-input {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

.confrim-otp{
  max-width: 360px;
}

.flowwellname {
  position: absolute;
  top: 1rem;
  left: 2rem; 
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 2;
  color: rgb(0, 0, 0);
}
